.ingredientBoard {
    position: relative;
    overflow-y: auto;
}

.mainBoardInner {
    composes: mainBoardInner from '../burger-ingredients/burger-ingredients.module.css';
    max-height: 45vh;
    padding-left: 0.5rem;
}

.mainBoardHeading {
    composes: mainBoardHeading from '../burger-ingredients/burger-ingredients.module.css';
    visibility: hidden;
}

.mainBoardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
}

.constructorElement {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.constructorElement:hover {
    cursor: pointer;
}

.constructorFixedElement {
    composes: constructorElement;
    width: 100%;
    max-width: 100%;
    padding: 0 .75rem 0 0.5rem;
}

.constructorFixedElement:nth-of-type(1) {
    margin-bottom: 1rem;
}

.constructorFixedElement:nth-last-of-type(2) {
    margin-top: 1rem;
}

.constructorFixedElement > svg {
    visibility: hidden;
}

.constructorElement > div {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: 0.5rem;
}

.constructorElement > div > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.constructorElement > div > span > span:nth-child(3) {
    margin-left: auto;
}

@media screen and (max-width: 1920px) {
    .constructorFixedElement {
        padding-right: .25rem;
    }
}


@media screen and (max-width: 1280px) {
    .constructorFixedElement {
        padding-right: .25rem;
    }
}

@media (max-width: 768px) {
    .constructorFixedElement {
        padding-right: .25rem;
    }
}

