.burgerBoard {
    position: relative;
    flex: 1 1 37.5rem;
    height: auto;
}

.burgerBoardInner {
    height: 100%;
    max-height: 64vh;
    padding: 0 .25rem 0 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
}

.burgerBoardInner::-webkit-scrollbar {
    width: 8px;
}

.burgerBoardInner::-webkit-scrollbar-track {
    background: #2F2F37;
}

.burgerBoardInner::-webkit-scrollbar-thumb {
    border: 3px solid #8585AD;
    background: #8585AD;
}

.burgerBoardContent {
    display: grid;
    grid-template-columns: repeat(2, minmax(17rem, 1fr));
    row-gap: 2rem;
    column-gap: 1.5rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;

}

.tab {
    display: flex;
    margin-bottom: 2.5rem;
}

.tab > .tabWrapper {
    flex: 1 1 100%;
    text-transform: capitalize;
}

.burgerBoardHeading {
    line-height: 2.5rem;
    text-align: left;
    margin-bottom: 1.25rem;
}

.boardName {
    text-align: left;
    text-transform: capitalize;
}

@media screen and (max-width: 1920px) {
    .burgerBoardContent {
        grid-template-columns: repeat(2, minmax(12rem, 1fr));
    }
}


@media screen and (max-width: 1280px) {
    .burgerBoardContent {
        grid-template-columns: repeat(2, minmax(12rem, 1fr));
    }
}

@media (max-width: 768px) {

}


