:root {
    --font-base: "Jet Brains Mono", Arial, sans-serif;
    --bg-color-base: #1c1c21;
    --font-color-base: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color-base);
    color: var(--font-color-base);
    font-family: var(--font-base);
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
    margin: 0;
}
