.ingredientCard {
    position: relative;
    width: 100%;
}

.ingredientCard:hover {
    cursor: pointer;
}

.ingredientCardRowTop {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
}

.ingredientCardRowBottom {
    composes: ingredientCardRowTop;
    padding: 0;
}

.ingredientPriceItem {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.25rem 1rem;
}

.ingredientCardImageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: inherit;
}

.ingredientCardImage {
    display: block;
    height: auto;
    width: 100%;
}

.ingredientCardPrice {
    line-height: 1.5rem;
    margin-right: .5rem;
}

.ingredientCardTitle {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 3rem;
}


